<div class="form-floating">
  <div class="form-floating">
    <select class="form-select" id="floatingSelect" (change)="onChange($event)">
      <option selected>Selecione</option>
      <option value="3">Ímpares</option>
      <option value="2">Pares</option>
    </select>
    <label for="floatingSelect">Selecione em que dias você trabalha atualmente:</label>
  </div>
</div>


<div class="container" *ngIf="days">
  <div class="calendar">
    <div class="calendar__rows" *ngFor="let row of calendar">
      <div class="calendar__cols" *ngFor="let col of row">
        <div class="calendar__day" *ngIf="col.day !== 0">
          {{col.day}}
  
          <div class="calendar__day--to-work" *ngIf="col.selected"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="calendar__legend">
    <div class="calendar__day--to-work"></div>
    <span>Dias de trabalho</span>
  </div>
</div>
